{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <h1>{{ plant.name }} - {{ type.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="indicator"></div>
        <div id="line"></div>
    </div>
</div>

{% endblock %}

{% block javascript %}

    var data_i = {{indicator | safe }};
    var layout_i = { height: 400 };
    Plotly.newPlot('indicator', data_i, layout_i);

    var data_l = {{chart | safe}};
    var layout_l = {
        title: 'Entwicklung',
        autosize: true,
        yaxis: {
            //title: '{{ type.name }}',
            automargin: true,
            tickformat: '.1%',
            rangemode: 'tozero',
        },
        yaxis2: {
            automargin: true,
            tickformat: '.1',
            rangemode: 'tozero',
            overlaying: 'y',
            side: 'right',
        },
    };
    Plotly.newPlot('line', data_l, layout_l);

{% endblock %}

